@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .advantages {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-list {
        padding: 0;
        gap: 72px 24px;
    }

    .advantages-list-item {
        width: calc((100% - 24px) / 2);
    }

    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        padding: 0;
        gap:
    }
}

.team-list-item {
    width: ((100% - 24px) / 2);
}



@media screen and (min-width: 1166px) {
    .container {
        max-width: 1158px;
    }

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .advantages-list-item:after {
        display: block;
    }

    .advantages-container-icons {
        display: flex;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {}

    .team-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }


}