/* -----------------------mobil----------- */

@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
}

/* ---------------------tablet------------------------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    /* ----------------tablet header----- */

    .header-container {
        min-width: 768px;
        min-height: 72px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-menu {
        display: flex;

    }

    .header-address {
        display: block;
    }

    .header-menu-humburger {
        display: none;
    }

    .header-menu-icons {
        display: none;
    }


    /* --------------tablet hero--------- */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-main/img8-tab.jpg);
    }

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-main/img8-tab-2x.jpg);
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        }
    }

    .hero-title {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
    }

    /* ------------tablet advantages--------- */

    .advantages {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .advantages-subtitle {
        text-align: start;
    }

    .advantages-list {
        padding: 0;
        gap: 72px 24px;
    }

    .advantages-list-item {
        width: calc((100% - 24px) / 2);
    }

    .advantages-text {
        width: 356px;
    }

    /* ---------------tablet team------------- */

    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
}

.team-list-item {
    width: ((100% - 24px) / 2);
}

/* -----------------tablet customers--------- */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-list {
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
}

.customers-list-item {
    width: calc((100% - 2 * 24px) / 3);
    width: 168px;
    height: 88px;
}

/* ------------tablet footer-----  */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.footer-container-logo-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 24px;
}

.footer-container-socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-bottom: 72px; */
    /* margin-top: 72px; */
    /* margin-right: 110px;
    margin-left: 110px; */
}

.footer-logo {}

.footer-text {}

.footer-subscribe {}

.footer-button {}

/* ------------tablet modal---------- */

.modal {}

.modal-button {}

.modal-title {}

.modal-field {}

.modal-input {}

.modal-text-comment {}

.modal-label {}




/* ---------------------desctop----------------------------- */


@media screen and (min-width: 1166px) {
    .container {
        max-width: 1158px;
    }

    /* ----------------desktop header------- */

    .header-container {
        min-width: 1166px;
        min-height: 72px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-menu {
        /* display: flex; */
        /* margin-right: 332px; */

    }

    .header-address {
        display: flex;
        margin-right: 156px;
    }


    /* --------------desctop hero--------- */

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-main/img8-desctop.jpg);
    }

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-main/img8-desctop-2x.jpg);
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
        }
    }

    .hero-title {
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px;
    }

    /* -----------desctop advantages--------- */

    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advantages-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .advantages-text {
        width: 264px;
    }

    .advantages-list-item:after {
        display: block;
    }

    .advantages-container-icons {
        display: flex;
    }

    /* --------------desctop made----- */
    .made {
        display: flex;
    }

    /* -----------desctop team---------------- */

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-list-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

/* ------------------desctop customers--------- */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    /* display: flex;
    flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.customers-list-item {
    width: calc((100% - 5 * 24px) / 6);
    width: 168px;
    height: 88px;
}

/* --------------desctop footer------ */

.footer-container {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
}

.footer-container-logo-text {
    display: flex;
    /* align-items: center; */
    /* margin-top: 100px; */
    /* margin-left: 156px; */
    /* margin-right: 120px; */
    /* justify-content: center; */
    /* flex-direction: row; */

}

.footer-logo {
    display: flex;

}

.footer-container-socials {
    /* margin-top: 100px;
    margin-bottom: 132px; */
    /* margin-right: 110px;
    margin-left: 110px; */
}